/* TODO:
  - gradient background.
  - drop shadow.
  - rounded borders.

  - what needs to happen for gpu to kick in on ipad?
*/


/* resets */
html, body, div, ul, li {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    color: #fff;
    background-color: #222;
    font-size: 22px;
}

p {
    margin: 24px;
}

div.carousel {
    display:none;  /* start hidden to avoid FOUC */

    overflow: none;
    white-space: nowrap;

    height:100%;
    /* TODO: prevent manual scrolling */
}

.carousel ul {
    list-style-type: none;
}

.carousel li {
    position: absolute;  /* layout managed by javascript */
    background-color: #22b;
}
