/* resets */
html, body, div, ul, li {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    color: #fff;
    background-color: #222;
    font-size: 22px;
    overflow:hidden;

    /* gradient background */
    background-image: -ms-linear-gradient(top, #000000 20%, #606074 100%);
    background-image: -moz-linear-gradient(top, #000000 20%, #606074 100%);
    background-image: -o-linear-gradient(top, #000000 20%, #606074 100%);
    background-image: -webkit-linear-gradient(top, #000000 20%, #606074 100%);
    background-image: linear-gradient(to bottom, #000000 20%, #606074 100%);
}

p {
    margin: 24px;
}

div.carousel {
    display:none;  /* start hidden to avoid FOUC */

    overflow: none;
    white-space: nowrap;

    height:100%;
}

.carousel ul {
    position:absolute;
    list-style-type: none;
}

.carousel li {
    position: absolute;  /* layout managed by javascript */
    background-color: #22b;

    /* gradient background */
    background-image: -ms-linear-gradient(top, #0564C0 20%, #094594 100%);
    background-image: -moz-linear-gradient(top, #0564C0 20%, #094594 100%);
    background-image: -o-linear-gradient(top, #0564C0 20%, #094594 100%);
    background-image: -webkit-linear-gradient(top, #0564C0 20%, #094594 100%);
    background-image: linear-gradient(to bottom, #0564C0 20%, #094594 100%);

    /* drop shadow */
    box-shadow: 0 0 10px #111;

    /* rounded borders */
    border-radius: 18px;
}
